.container
  .row
    .col-12
      .message.my-2
        %h5
          = @message.subject
        %p
          From:
          = @message.user.email
        %h6
          = @message.body

      .reply-section
        .row
          .col-lg-12
            = form_for @reply, :url => { :controller => "messages", :action => "create" } do |c|
              .form-group
                = c.hidden_field :parent_id, value: @message.id
                = c.hidden_field :user, value: @message.user.email
                = label_tag 'Reply'
                = c.text_field :body
              .form-group
                = c.submit "Save"

        - @message.children.each do |c|
          .message.my-2
            %b
              = c.user.email
            %p
              = c.body

