.row
  .col-lg-11
    %h3
      = @idea.title
    .row
      .col-lg-8
        .image
          - if @idea.image.attached?
            .image-banner{style: "background-image: url('#{url_for(@idea.image)}')"}
          - else
            .image-banner{style: "background-image: url(#{random_image})"}

      .col-lg-4
        .details
          - if @idea.user == current_user
            = link_to "Edit", edit_idea_path(@idea), class: "tag"

          .created_by
            = link_to @idea.user.username, user_path(@idea.user.id)
          .created_at
            = @idea.created_at.strftime('%b %d, %Y')
          .tags
            - @idea.tags.each do |tag|
              = link_to tag.name, tags_path(tag.id), class: "tag"
          .description
            = @idea.description.html_safe
  .col-lg-1
    - if current_user
      %button.vote.pull-right{data: {vote: "", url: vote_idea_path(@idea.id), id: @idea.id, count: @idea.votes.count, toggled: "#{user_voted?(@idea.id)}"}}
        = fa_icon "arrow-up"
        %span.count
          = @idea.votes.count
    - else
      %a.vote.pull-right{href: "/login"}
        = fa_icon "arrow-up"
        %span.count
          = @idea.votes.count

