= form_for @idea do |p|
  .form-group
    = p.file_field :image, multiple: true, direct_upload: true
  .form-group
    = p.label :title
    = p.text_field :title, required: true
  .form-group
    = p.label :description
    = p.text_area :description, required: true
  .form-group
    = p.fields_for :tags, @idea.tags do |t|
      %label
        Tags
      .tag-container
        = t.text_field :name, value: ""
  .form-group
    = p.submit
