= form_for @user, url: login_path do |p|
  .form-group
    %a{href: "/auth/twitter", class: "twitter-button"}
      = render partial: "partials/twitter_logo"
      Log In with Twitter
  .form-group
    %a{href: "/auth/github", class: "github-button"}
      = render partial: "partials/github_logo"
      Log In with GitHub
  .form-group
    %label
      Email
    = p.text_field :email
  .form-group
    = p.label :password
    = p.password_field :password
  .form-group
    = p.submit("Login")
