%nav.main-nav.grid-container
  .twelve-col
    = link_to 'ProjectScout', '/', { class: "logo" }
    - if current_user
      %ul
        %li
          = link_to "New Project", new_project_path
        %li
          = link_to "My Projects", me_projects_path
        %li
          = link_to "Upvoted", voted_projects_path
        |
        %li
          = current_user.email
        %li
          = link_to "Log Out", logout_path
    - else
      %ul
        %li
          = link_to "Sign Up", signup_path
        %li
          = link_to "Log In", login_path
        %li
          = link_to "Explore", "#"
