= form_for @project do |p|
  .form-group
    = p.label :title
    = p.text_field :title, required: true
  .form-group
    = p.label :description
    = p.text_area :description, required: true
  .form-group
    = p.fields_for :tags, @project.tags do |t|
      %label
        Tags
      .tag-container
        = t.text_field :name, value: ""
  .form-group
    = p.submit
