.project
  %h3.title
    = link_to p.title, project_path(p.id)

  %button.vote.pull-right{data: {vote: "", url: vote_project_path(p.id), id: p.id, count: p.votes.count, toggled: "#{user_voted?(p.id)}"}}
    = fa_icon "arrow-up"
    %span.count
      = p.votes.count
  .details
    = p.organization
    |
    = p.created_at.strftime('%b %d, %Y')
  .tags
    - p.tags.each do |tag|
      = link_to tag.name, tags_path(tag.id), class: "tag"
  %hr
  %small.description
    = p.description
