.project-detail
  %h1
    = @project.title

  // break to a partial
  - if current_user
    %button.vote.pull-right{data: {vote: "", url: vote_project_path(@project.id), id: @project.id, count: @project.votes.count, toggled: "#{user_voted?(@project.id)}"}}
      = fa_icon "arrow-up"
      %span.count
        = @project.votes.count
  - else
    %a.vote.pull-right{href: "/login"}
      = fa_icon "arrow-up"
      %span.count
        = @project.votes.count

  .details
    .created_by
      = @project.user.email
    .created_at
      = @project.created_at.strftime('%b %d, %Y')
  .tags
    - @project.tags.each do |tag|
      = link_to tag.name, tags_path(tag.id), class: "tag"
  .description
    = @project.description
