- unless current_user
  = render partial: 'partials/hero'

.row.container
  .three-col
    %h3
      Tags
    %ul
      - [*1..6].each do |i|
        %li.tag
          tag
          = i

  .nine-col
    %h3
      Projects
    - if @projects
      - @projects.each do |p|
        .project
          %h2.title
            = p.title

          %button.vote.pull-right{data: {vote: "", id: p.id}}
            = fa_icon "arrow-up", text: p.votes.count

          %small.org
            = p.organization
          %small.created
            = p.created_at.strftime('%b %d, %Y')
          %br
          - p.tags.each do |tag|
            %small.tag
              = tag.name
          %hr
          %small.description
            = p.description
