- unless current_user
  = render partial: 'partials/hero'

.row.container
  = render partial: "partials/sidebar"
  .nine-col.rel
    = render partial: "projects/detail"

    // comment form - to partial
    .comment-section
      = form_for @comment, :url => { :controller => "comments", :action => "create" } do |c|
        = hidden_field :comment, :project_id, value: @project.id
        .form-group
          = label_tag 'Comment'
          = c.text_field :body
        .form-group
          = c.submit

    // comments
    - @project.comments.each do |c|
      .comment
        .created_at
          = c.created_at.strftime('%b %e, %l:%M %p')
        .reply
          %button{'v-on:click': 'createForm'}
            reply

        .email
          = c.user.email
        .body
          = c.body

