!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title IdeaGrid
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %meta{content: "Build. Together.", name: "description"}/
    %meta{content: "", property: "og:image"}/
    %link{href: "https://www.launchaco.com/static/favicon.ico", rel: "shortcut icon"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'partials/nav'
    - flash.each do |key, value|
      %div{:class => "alert alert-#{key}"}= value
    %main
      = yield
